{% extends 'AppBundle:Default:index.html.twig' %}

{% block title %}Page d'accueil{% endblock %}


{% block body %}
    <div class="container">
        <div class="col-md-4">
            <h2>Documentation</h2>
            <a href="http://doc.navigo.mindgame.ovh">Documentation API/Site</a>
            <br>
            <a href="{{ asset("document/Documentation Technique.pdf") }}">Documentation Technique (PDF)</a>
        </div>
        <div class="col-md-4">
            <h2>Connexion/Inscription</h2>
            <a href="{{ path("security_login") }}">Connexion</a>
            <br>
            <a href="{{ path("security_register") }}">Inscription</a>
        </div>
        <div class="col-md-4">
            <h2>Admin</h2>
            <a href="{{ path("sonata_admin_dashboard") }}">Admin</a>
        </div>
    </div>
{% endblock %}

